* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.controlBox {
    display: flex;
    text-align: center;
}

.result {
    display
}

header, main {
    padding: 30px;
    text-align: center;
    background-color: blue;
}

.container {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.container.gameOver {
    pointer-events: none;
}

.cell {
    aspect-ratio: 1/1;
    border: 1px dashed black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.easy {
    width: calc(100% / 7);
}

.cell.medium {
    width: calc(100% / 9);
}

.cell.hard {
    width: calc(100% / 10);
}

.cell.hit {
    background-color: black;
    pointer-events: none;
}

.cell.hit.bomb {
    background-color: red;
}